<form
    hx-post="{{ url_for('colaborador.inserir_colaborador') }}"
    hx-target="#lista_clientes"
    hx-swap="beforeend">

    Nome: <input type="text" name="nomeForm" required><br>
    Senha: <input type="text" name="senhaForm" required><br>
    E-mail: <input type="email" name="emailForm" required><br>
    Telefone: <input type="text" name="telefoneForm"><br>
    Cargo:
      <select name="cargoForm">
        <option value="coordenador">Coordenador</option>
        <option value="psicologa">Psicóloga</option>
        <option value="social">Social</option>
        <option value="orientador">Orientador</option>
      </select><br>
    <input type="submit" value="Cadastrar">
</form>
