<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Registrar</title>
    </head>
    <body>
        <h1>Registrar Login</h1>
        <form action="" method="post">
            Nome: <input type="text" name="nomeForm"><br>
            Senha: <input type="text" name="senhaForm"><br>
            E-mail: <input type="email" name="emailForm"><br>
            Cargo:
              <select name="cargoForm">
                <option value="coordenador">Coordenador</option>
                <option value="psicologa">Psicóloga</option>
                <option value="social">Social</option>
                <option value="orientador">Orientador</option>
              </select>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>
